@model Ecommerce.Areas.Admin.Models.AdminModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="main-content">
    <h4>AdminModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdminEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdminEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdminPicture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdminPicture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdminPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdminPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdminName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdminName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdminPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdminPhone)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AdminID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
