@model IEnumerable<Ecommerce.Areas.Admin.Models.AdminModel>

@{
    ViewData["Title"] = "Index";
}
<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-flex align-items-center justify-content-between">
                        <h4 class="mb-0 font-size-18">Orders</h4>
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Ecommerce</a></li>
                                <li class="breadcrumb-item active">Orders</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row mb-2">
                                <div class="col-sm-4">
                                    <div class="search-box mr-2 mb-2 d-inline-block">
                                        <div class="position-relative">
                                            <input type="text" class="form-control" placeholder="Search...">
                                            <i class="bx bx-search-alt search-icon"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="text-sm-right">
                                        <button type="button" class="btn btn-success btn-rounded waves-effect waves-light mb-2 mr-2"><i class="mdi mdi-plus mr-1"></i><a onclick="showInPopup('@Url.Action("AddOrEdit","Admin",null,Context.Request.Scheme)','New Admin')">Create New</a></button>
                                    </div>
                                </div><!-- end col-->
                            </div>

                            <div class="table-responsive">
                                <table class="table table-centered table-nowrap">
                                    <thead class="thead-light">
                                        <tr>
                                            <th style="width: 20px;">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                    <label class="custom-control-label" for="customCheck1">&nbsp;</label>
                                                </div>
                                            </th>
                                            <th>@Html.DisplayNameFor(model => model.AdminID)</th>
                                            <th>@Html.DisplayNameFor(model => model.AdminEmail)</th>
                                            <th>@Html.DisplayNameFor(model => model.AdminPicture)</th>
                                            <th>@Html.DisplayNameFor(model => model.AdminPassword)</th>
                                            <th>@Html.DisplayNameFor(model => model.AdminName)</th>
                                            <th>@Html.DisplayNameFor(model => model.AdminPhone)</th>
                                            <th>View Details</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="customCheck2">
                                                        <label class="custom-control-label" for="customCheck2">&nbsp;</label>
                                                    </div>
                                                </td>
                                                <td><a href="javascript: void(0);" class="text-body font-weight-bold">@Html.DisplayFor(modelItem => item.AdminID)</a> </td>
                                                <td>@Html.DisplayFor(modelItem => item.AdminEmail)</td>
                                                <td>
                                                    <img src="~/image/@item.AdminPicture" style="height:80px;width:80px" />
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.AdminPassword)
                                                </td>
                                                <td>
                                                    <span class="badge badge-pill badge-soft-success font-size-12">@Html.DisplayFor(modelItem => item.AdminName)</span>
                                                </td>
                                                <td>
                                                    <i class="fa fa-phone" aria-hidden="true"></i> @Html.DisplayFor(modelItem => item.AdminPhone)
                                                </td>
                                                <td>
                                                    <!-- Button trigger modal -->
                                                    <a asp-action="Details" asp-route-id="@item.AdminID">
                                                        View Details
                                                    </a>
                                                </td>
                                                <td>
                                                    <a onclick="showInPopup('@Url.Action("AddOrEdit","Admin",new {id=item.AdminID},Context.Request.Scheme)','Update Admin')"><i class="mdi mdi-pencil font-size-18"></i></a>
                                                    <form asp-action="Delete" asp-route-id="@item.AdminID" onsubmit="return jQueryAjaxDelete(this)" class="d-inline">
                                                        <input type="hidden" asp-for="@item.AdminID" />
                                                        <input type="submit" value="Delete" class="btn btn-danger" />
                                                    </form>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <ul class="pagination pagination-rounded justify-content-end mb-2">
                                <li class="page-item disabled">
                                    <a class="page-link" href="javascript: void(0);" aria-label="Previous">
                                        <i class="mdi mdi-chevron-left"></i>
                                    </a>
                                </li>
                                <li class="page-item active"><a class="page-link" href="javascript: void(0);">1</a></li>
                                <li class="page-item"><a class="page-link" href="javascript: void(0);">2</a></li>
                                <li class="page-item"><a class="page-link" href="javascript: void(0);">3</a></li>
                                <li class="page-item"><a class="page-link" href="javascript: void(0);">4</a></li>
                                <li class="page-item"><a class="page-link" href="javascript: void(0);">5</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="javascript: void(0);" aria-label="Next">
                                        <i class="mdi mdi-chevron-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div> <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
    <!-- Modal -->
    <div class="modal" tabindex="-1" role="dialog" id="form-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}