@model Ecommerce.Areas.Admin.Models.ProductModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="main-content">
    <h4>ProductModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductPicture1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductPicture1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductPicture2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductPicture2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductPicture3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductPicture3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductDiscount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductDiscount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brands)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brands.BrandID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Suppliers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Suppliers.SupplierID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categorys)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categorys.CategoryID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProductID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
