@model Ecommerce.Areas.Admin.Models.SuppliersModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SuppliersModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupplierName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierAdress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupplierAdress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupplierPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierNotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupplierNotes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierLogo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupplierLogo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupplierStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SupplierID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
