@model IEnumerable<Ecommerce.Areas.Admin.Models.SuppliersModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SupplierName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupplierAdress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupplierPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupplierNotes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupplierLogo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupplierStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierAdress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierNotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierLogo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierStatus)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SupplierID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SupplierID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SupplierID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
