@model IEnumerable<e_Commerce.Models.ShoppingCartModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Customer/Views/Shared/_Layout.cshtml";
}
<div class="shopping_cart_area">
    <form action="#">
        <div class="row">
            <div class="col-12">
                <div class="table_desc">
                    <div class="cart_page table-responsive">
                        <table>
                            <thead>
                                <tr>
                                    <th class="product_thumb">Hình Ảnh</th>
                                    <th class="product_name">Tên Sản Phẩn</th>
                                    <th class="product-price">Giá</th>
                                    <th class="product_quantity">Số Lượng</th>
                                    <th class="product_total">Tổng</th>
                                    <th class="product_delete">Xoá</th>
                                    <th class="product_update">Cập Nhật</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ 
                                    decimal total = 0;
                                } 
                                @foreach (var item in Model)
                                {
                                    total = total + (item.Product.Price * item.Amount);
                                <tr>
                                    <td class="product_thumb">@item.Product.Picture</td>
                                    <td class="product_name">@item.Product.Name</td>
                                    <td class="product-price">@(String.Format("{0:n0}", item.Product.Price)) VND</td>
                                    <td class="product_quantity">@item.Amount</td>
                                    <td class="product_total">@(item.Product.Price * item.Amount) VND</td>
                                    <td class="product_delete"><button class="btn btn-danger btn remove-from-cart"><i class="fa fa-trash"></i></button></td>
                                    <td class="product_update"><button class="btn btn-danger btn update-cart"><i class="fa fa-refresh"></i></button></td>
                                </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                    <div class="cart_submit">
                        <button type="submit">update cart</button>
                    </div>
                </div>
            </div>
        </div>
        <!--coupon code area start-->
        <div class="coupon_area">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="coupon_code">
                        <h3>Coupon</h3>
                        <div class="coupon_inner">
                            <p>Enter your coupon code if you have one.</p>
                            <input placeholder="Coupon code" type="text">
                            <button type="submit">Apply coupon</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="coupon_code">
                        <h3>Cart Totals</h3>
                        <div class="coupon_inner">
                            <div class="cart_subtotal">
                                <p>Subtotal</p>
                                <p class="cart_amount">£</p>
                            </div>
                            <div class="cart_subtotal ">
                                <p>Shipping</p>
                                <p class="cart_amount"><span>Flat Rate:</span>@(String.Format("{0:n0}", total)) VND</p>
                            </div>
                            <a href="#">Calculate shipping</a>

                            <div class="cart_subtotal">
                                <p>Total</p>
                                <p class="cart_amount">@(String.Format("{0:n0}", total)) VND</p>
                            </div>
                            <div class="text-center">
                                <a class="btn btn-primary" asp-controller="Order" asp-action="Checkout">Check out now!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--coupon code area end-->
    </form>
</div>