@model e_Commerce.Models.ProductModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="main-content">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
                <h4 class="mb-0 font-size-18">Chi Tiết Sản Phẩm</h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Ecommerce</a></li>
                        <li class="breadcrumb-item active">Chi Tiết Sản Phẩm</li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="product-detai-imgs">
                                <div class="row">
                                    <div class="col-md-7 offset-md-1 col-sm-9 col-8">
                                        <div class="tab-content" id="v-pills-tabContent">
                                            <div class="tab-pane fade" id="product-1" role="tabpanel" aria-labelledby="product-1-tab">
                                                <div>
                                                    <img src="~/image/product/@Html.DisplayFor(model => model.Picture)" alt="" class="img-fluid mx-auto d-block">
                                                </div>
                                            </div>
                                            <div class="tab-pane fade active show" id="product-2" role="tabpanel" aria-labelledby="product-2-tab">
                                                <div>
                                                    <img src="~/image/product/@Html.DisplayFor(model => model.Picture)" alt="" class="img-fluid mx-auto d-block" style="padding-top: 50px">
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="product-3" role="tabpanel" aria-labelledby="product-3-tab">
                                                <div>
                                                    <img src="~/image/product/@Html.DisplayFor(model => model.Picture)" alt="" class="img-fluid mx-auto d-block">
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="product-4" role="tabpanel" aria-labelledby="product-4-tab">
                                                <div>
                                                    <img src="~/image/product/@Html.DisplayFor(model => model.Picture)" alt="" class="img-fluid mx-auto d-block">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-6">
                            <div class="mt-4 mt-xl-3">
                                <a href="#" class="text-primary"> @Html.DisplayFor(model => model.Category.Name)</a>
                                <h4 class="mt-1 mb-3"> @Html.DisplayFor(model => model.Name)</h4>

                                <p class="text-muted float-left mr-3">
                                    <span class="bx bx-star text-warning"></span>
                                    <span class="bx bx-star text-warning"></span>
                                    <span class="bx bx-star text-warning"></span>
                                    <span class="bx bx-star text-warning"></span>
                                    <span class="bx bx-star"></span>
                                </p>

                                <h6 class="text-success text-uppercase">20 % Off</h6>
                                <h5 class="mb-4">Giá : <span class="text-muted mr-2"></span> <b>@Html.DisplayFor(model => model.Price) VNĐ</b></h5>
                                <p class="text-muted mb-4"> @Html.DisplayFor(model => model.Description)</p>

                                <div class="product-color">
                                    <h5 class="font-size-15">Color :</h5>
                                    <a href="#" class="active">
                                        <div class="product-color-item border rounded">
                                            <img src="~/image/product/@Html.DisplayFor(model => model.Picture)" alt="" class="avatar-md">
                                        </div>
                                        <p>Black</p>
                                    </a>
                                    <a href="#">
                                        <div class="product-color-item border rounded">
                                            <img src="~/image/product/@Html.DisplayFor(model => model.Picture)" alt="" class="avatar-md">
                                        </div>
                                        <p>Blue</p>
                                    </a>
                                    <a href="#">
                                        <div class="product-color-item border rounded">
                                            <img src="~/image/product/@Html.DisplayFor(model => model.Picture)" alt="" class="avatar-md">
                                        </div>
                                        <p>Gray</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end row -->

                    <div class="mt-5">
                        <h5 class="mb-3">Thông Tin :</h5>

                        <div class="table-responsive">
                            <table class="table mb-0 table-bordered">
                                <tbody>
                                    <tr>
                                        <th scope="row" style="width: 400px;">Loại :</th>
                                        <td> @Html.DisplayFor(model => model.Category.Name)</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Nhãn Hiệu</th>
                                        <td> @Html.DisplayFor(model => model.Brand.Name)</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Số Lượng</th>
                                        <td> @Html.DisplayFor(model => model.Quantity)</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Trạng Thái</th>
                                        <td> @Html.DisplayFor(model => model.Status)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
            <!-- end card -->
        </div>
    </div>
    <!-- end row -->
</div>