@model IEnumerable<e_Commerce.Models.ProductModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="main-content" >

    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-flex align-items-center justify-content-between">
                        <h4 class="mb-0 font-size-18">Orders</h4>
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Ecommerce</a></li>
                                <li class="breadcrumb-item active">Orders</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row mb-2">
                                <div class="col-sm-4">
                                    <form class="example" asp-action="Index" method="get">
                                        <input type="text" placeholder="Nhập Từ Khoá.." name="s_name">
                                        <button type="submit"><i class="fa fa-search"></i></button>
                                    </form>
                                </div>
                                <div class="col-sm-8">
                                    <div class="text-sm-right">
                                        <button type="button" class="btn btn-success btn-rounded waves-effect waves-light mb-2 mr-2"><i class="mdi mdi-plus mr-1"></i><a asp-action="Create">Create New</a></button>
                                    </div>
                                </div><!-- end col-->
                            </div>
                            <div class="table-responsive">
                                
                                    <table class="table table-centered table-nowrap">
                                        <thead class="thead-light">
                                            <tr>
                                                <th style="width: 20px;">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                        <label class="custom-control-label" for="customCheck1">&nbsp;</label>
                                                    </div>
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Name)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Picture)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Price)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Status)
                                                </th>
                                                <th>Xem Sản Phẩm</th>
                                                <th>Sửa</th>
                                                <th>Xoá</th>
                                            </tr>
                                        </thead>
                                        <tbody id="product_all">
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck2">
                                                            <label class="custom-control-label" for="customCheck2">&nbsp;</label>
                                                        </div>
                                                    </td>

                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Name)
                                                    </td>
                                                    <td>
                                                        <img src="~/image/product/@item.Picture" style="height:50px;width:50px" />
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Price)
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-warning" name="btn_update_stt" data-id="@item.ProductID"
                                                                data-stt="@(item.Status==true?0:1)" data-name="@item.Name">
                                                            @{
                                                                if (item.Status == true)
                                                                {
                                                                    @:Ẩn
                                                                }
                                                                else
                                                                {
                                                                    @:Hiện
                                                                }
                                                            }
                                                        </button>
                                                    </td>
                                                    <td>
                                                        <a asp-action="Details" asp-route-id="@item.ProductID" class="btn btn-warning">
                                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a asp-action="Edit" asp-route-id="@item.ProductID" class="btn btn-primary">
                                                            <i class="fa fa-edit"></i>
                                                        </a>

                                                    </td>
                                                    <td>
                                                        <button  name="delete" class="btn btn-danger" data-id="@item.ProductID"><i class="fa fa-trash"></i></button>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div> <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
    <!-- Modal -->
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $('button[name=btn_update_stt]').click(function () {
            var id = $(this).attr('data-id');
            var stt = ($(this).attr('data-stt') == 0 ? false : true);
            $.ajax({
                method: "PUT",
                url: "../api/Product_API/PutProductModel/" + id,
                contentType: 'application/json; charset=UTF-8',
                data: JSON.stringify({ "id": id, "status": stt })
            })
                .done(function (msg) {
                    if (msg == '0') {
                        $.notify("Warning: Cập Nhật thất bại", "warn");
                    }
                    else {
                        var r = JSON.parse(msg)
                        if (r.stt =='True') {
                            $('button[name=btn_update_stt][data-id=' + r.id + ']').html('Ẩn');

                        }
                        else {
                            $('button[name=btn_update_stt][data-id=' + r.id + ']').html('Hiện');
                        }
                        $.notify("Cập Nhật Trạng Thái Thành Công", "success");
                    }
                });
        })
        $('button[name=delete]').click(function () {
            var id = $(this).attr('data-id');
            $.ajax({
                method: "DELETE",
                url: "../api/Product_API/DeleteProductModel/" + id,
            })
                .done(function (msg) {
                    $("#product_all").load(window.location.href + " #product_all");
                    $.notify("Xoá Sản Phẩm Thành Công", "success");
                });
        })
    </script>
}
