@model IEnumerable<Ecommerce.Areas.Admin.Models.BrandModel>

    <div class="col-md-8 offset-md-2">

        <h1 class="text-center"><i class="fas fa-comments-dollar text-success"></i> Transaction History</h1>


        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.BrandName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BrandPicture)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BrandDescription)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BrandStatus)
                    </th>
                    <th>
                        <a onclick="showInPopup('@Url.Action("AddOrEdit","Brand",null,Context.Request.Scheme)','New Brand')" class="btn btn-success text-white"><i class="fas fa-random"></i> New Brand</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.BrandName)
                        </td>
                        <td>
                            <img src="~/image/@item.BrandPicture" style="height:80px;width:80px" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BrandDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BrandStatus)
                        </td>
                        <td>
                            <div>
                                <a onclick="showInPopup('@Url.Action("AddOrEdit","Brand",new {id=item.BrandID},Context.Request.Scheme)','Update Brand')" class="btn btn-info text-white"><i class="fas fa-pencil-alt"></i> Edit</a>
                                <form asp-action="Delete" asp-route-id="@item.BrandID" onsubmit="return jQueryAjaxDelete(this)" class="d-inline">
                                    <input type="hidden" asp-for="@item.BrandID" />
                                    <input type="submit" value="Delete" class="btn btn-danger" />
                                </form>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
