@model Ecommerce.Areas.Admin.Models.BrandModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="main-content">
    <h4>BrandModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrandName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrandName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrandPicture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrandPicture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrandDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrandDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrandStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrandStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BrandID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
