@model IEnumerable<Ecommerce.Areas.Admin.Models.BrandModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BrandName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrandPicture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrandDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrandStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BrandName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrandPicture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrandDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrandStatus)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BrandID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BrandID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BrandID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
