@model IEnumerable<Ecommerce.Areas.Admin.Models.OrderDetailsModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetailProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetailPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetailNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetailCoupon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetailState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetailColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDetailProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDetailPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDetailNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDetailCoupon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDetailState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Orders.OrderID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Products.ProductID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDetailColor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderStatus)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
