@model Ecommerce.Areas.Admin.Models.OrdersModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OrdersModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderTotalMoney)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderTotalMoney)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Carriers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Carriers.CarrierID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderShipAdress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderShipAdress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Payments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Payments.PaymentID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customers.CustomerID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OrderID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
