@model IEnumerable<Ecommerce.Areas.Admin.Models.OrdersModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderTotalMoney)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Carriers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderShipAdress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderTotalMoney)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Carriers.CarrierID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderShipAdress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Payments.PaymentID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customers.CustomerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderStatus)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrderID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OrderID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OrderID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
